.jumbotron{
    background-color: yellow;
    color: black;
    margin-top: 50px;
}
footer{
    padding: 10 px 10px 10 px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top:10px;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px ;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
    
}

.footer-address-icon{
    padding-right: 10px;
}

.configuracion-rueda{
    padding-right: 5px;
    color: black;
}

.tab-content{
    padding-top: 10px;
}

img{

    padding-top: 20px;
}