.jumbotron {
  background-color: #fbff04;
  color: black;
  margin-top: 50px;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10 px 10px 10 px;
  background-color: #ad0000;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #cfcfcf; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.configuracion-rueda {
  padding-right: 5px;
  color: black; }

.tab-content {
  padding-top: 10px; }

img {
  padding-top: 20px; }

/*# sourceMappingURL=styles.css.map */
