$yellow: #fbff04;
$green:#00ad03;
$red: #ad0000;
$white: #cfcfcf;

@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}


.jumbotron{
    background-color: $yellow;
    color: black;
    margin-top: 50px;
    @include margenes(50px,0px);
}
footer{
    padding: 10 px 10px 10 px;
    background-color: $red;
    margin-bottom: 0px;
    margin-top:10px;
    @include margenes(10px,0px);
    color: $white;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px ;
    @include margenes(10px,0px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
    
}

.footer-address-icon{
    padding-right: 10px;
}

.configuracion-rueda{
    padding-right: 5px;
    color: black;
}

.tab-content{
    padding-top: 10px;
}

img{

    padding-top: 20px;
}