.jumbotron {
  background-color: #ffbd17;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0px 10px;
  background-color: #ffbd17;
  margin-top: 10px;
  margin-bottom: 0px;
  color: black;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.configuracion-rueda {
  padding-right: 5px;
  color: black;
}
.tab-content {
  padding-top: 10px;
}
.img {
  padding-top: 20px;
}
